@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, rgb(4, 6, 6), rgb(112, 150, 145));
}

header p{
    color: white;
    font-size: 12px;
}

.inner-box{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: relative;
    margin: 0 auto;
    width: 400px;
    top: 30%;
    padding: 20px 40px;
    color: white;
}

.sign-body p label{
    display: block;
    margin-top: 13px;
}

.sign-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 4px;
}

.sign-body p input[type="submit"]{
    background-color: rgb(5, 174, 192);
    color: white;
    border: none;
    text-align: center;
    padding: 10px;
    margin-top: 16px;
}

.sign-body p input[type="submit"]:hover{
    background-color: rgb(3, 111, 123);
    border: 2px solid rgb(5, 174, 192);
}

.sign-body p input[type="submit"]::after{
    text-decoration: underline;
}

.footer{
    margin-top: 20px;
    text-align: center;
    color: white;
}

.footer a{
    color: rgb(114, 149, 149);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

