body{
    background-color: antiquewhite;
}

.container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.box ul{
    display: flex;
    list-style: none;
    gap: 100px;
}

.box ul li{
    width: 100px;
    background-color: brown;
    /* visibility: hidden; */
}
/* .box{
    width: 80px;
    height: 80px;
    background-color: brown;


    transition: all 500ms ease 0s;
}

.box:hover{
    width: 150px;
    border-radius: 20px;
    border: 2px solid black;
} */